/* Define animations */
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

/* Apply to View Transitions */
::view-transition-old(root) {
  animation: 0.3s ease-in-out both fade-out;
}

::view-transition-new(root) {
  animation: 0.3s ease-in-out both fade-in;
}